@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #292c2a;
  grid-template-rows: 7.5vmin 85vmin 7.5vmin;
}

.board {
  height: 85vmin;
  width: 85vmin;
  background-color: #779556;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.tile {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.tile--odd {
  background-color: #779556;
}

.tile--even {
  background-color: #69814e;
}

.piece {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: #ebecd0;
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.15);
}

.piece--w {
  background-color: #ebecd0;
}

.piece--b {
  background-color: #111111;
}

.piece--t {
  opacity: 0.25;
}

.connect,
.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ebecd0;
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 70vmin;
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.15);
  height: 65%;
}

.connect-input {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

p {
  margin: 0;
  font-size: max(2vmin, 1.2rem);
  color: #111111;
  text-align: center;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: center;
  border: none;
  padding: 5px;
  border-radius: 0.5rem;
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.15);
}

button {
  font-size: 1.2rem;
  color: #111111;
  background-color: #779556;
  border: none;
  padding: 5px;
  border-radius: 0.5rem;
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #69814e;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #ebecd0;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.15);
  padding: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(53, 56, 54, 0.7);
}
